* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eeebeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------ global style section ------------------------------ */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
  font-weight: 900;
  line-height: 1.1;
}
.container {
  width: 560px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

/* ------------------------------ header style section ------------------------------ */
header {
  position: fixed;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  width: 560px;
}
/* ------------------------------ intro style section ------------------------------ */
.intro {
  /* position: relative; */
  width: 560px;
  padding: 80px 0 0 0;
}
#vedio {
  width: 560px;
  height: 315px;
}
/* ------------------------------ main style section ------------------------------ */
article h2 {
  padding: 0 5px;
  color: #333;
  font-size: 25px;
  letter-spacing: 1px;
}
article p {
  padding: 10px 5px;
  font-size: 15px;
  color: #adadad;
}
.iterm img {
  width: 560px;
  height: 315px;
  margin: auto;
}

/* ------------------------------ footer style section ------------------------------ */
footer {
  text-align: center;
  padding: 10px;
  background-color: aquamarine;
}
